<div class="container">
    <h1>YOUR HOROSCOPE</h1>
    <p><strong>Horoscope Sign: </strong>{{ prediction.sign }}</p>
    <p><strong>Birthday: </strong>{{ selectedHoroscopeDate }}</p>
    <p><strong>Horoscope: </strong>{{ prediction.horoscope }}</p>
    <p><strong>Fortune Cookie: </strong>{{ prediction.fortuneCookie }}</p>
    <p><strong>Lucky Number: </strong>{{ prediction.luckyNumber }}</p>
    <p><strong>Joke of the Day: </strong>{{ prediction.jokeOfTheDay }}</p>
    <div *ngIf="user">
        <button (click)="savePredictions()">Save</button>
        <button (click)="goToProfile()">Profile</button>
    </div>
</div>
